---
	import RecipesList from '../components/RecipesList.jsx';
	import Layout from '../layouts/Layout.astro';
---

<html>

<head>
	<title>Recipes</title>
</head>

<body>
	<Layout title="Recipes">
		<RecipesList />
	</Layout>
</body>

</html>